@page "/"

@for(int i=0;i<12;i++)
{

  <div class="container mt-3 mycontainer">
    <div class="row gutter">
      <div class ="col-12 col-md-6 border border-3 border-primary shadow-lg">
          <h1> Hello This is first container </h1>
      </div>
      
      <div class ="col-12 col-md-6 border border-3 border-secondary shadow-lg">
          <h1> Hello This is second container </h1>
      </div>
    </div>
  </div>

}



