@page "/"



<div class="container mt-3 px-4">
  <div class="row mt-3 text-center shadow-lg mb-3">
    <h1>Place for your add</h1>
    <h1>You can have your add here</h1>
  </div>
  <div class="row">

    <div class ="col-12 col-md-6 mb-3">
      <div class = "row">
        <div class="container mt-3 text-cener">
          <h1>Vehicles</h1>
        </div>
      </div>
      <!-- Foreach -->
      <div class = "row">
        <div class = "container mt-1 mb-1 rounded-4 shadow-lg align-middle  ">
          <div class = "row ">
            <div class = "col-12 col-md-1 bg-info rounded-start-4">
              <!--Empty col-->
            </div>
            <div class = "col-3 col-sm-3 col-lg-3 align-items-center">
              <img src = "https://th.bing.com/th/id/OIP.zt_Tvjvfamifhq7v0CmuygHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" width="80" height="80" class = "rounded-circle mt-1 mb-1">
            </div>
            <div class = "col-9 col-md-6 text-center">
              <div class = "row">
                <h5>Porsche 911 GT3</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class ="col-12 col-md-6 mb-3">
      <div class = "container  shadow-lg mb-3 mb-md-0">
        <h1> Hello This is second container dasdsad </h1>
        <h1> Hello This is second container dasdsad </h1>
        <h1> Hello This is second container dasdsad </h1>
        <h1> Hello This is second container dasdsad </h1>
      </div>
    </div>

  </div>
</div>


<div class="container mt-3 ">
<h1>Testsdddfzfs</h1>
</div>

<div class="container-sm mt-3 border border-primary-3">
  <h1>test</h1>
</div>
<div class="container-sm mt-3 border border-primary-3">
  <h1>test</h1>
</div>

@code{
 
}